/* Estilos para o tema escuro */
body.dark-mode {
  background-color: #1e2429;
  color: #e4e6eb;
}

body.dark-mode .bg-primary {
  background-color: #25303f !important;
}

body.dark-mode .text-primary {
  color: #46879c !important;
}

body.dark-mode .resume-section {
  border-bottom: 1px solid #2c3440;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode .subheading {
  color: #ffffff;
}

body.dark-mode .text-info {
  color: #46879c !important;
}

body.dark-mode .nav-link {
  color: #d0d0d0;
}

body.dark-mode .nav-link:hover {
  color: #46879c;
}

body.dark-mode .list-social-icons a {
  color: #d0d0d0;
}

body.dark-mode .list-social-icons a:hover {
  color: #46879c;
}

body.dark-mode .fa-circle {
  color: #2a343f;
}

body.dark-mode .img-profile {
  border: 0.5rem solid rgba(70, 135, 156, 0.3);
}

body.dark-mode #theme-toggle {
  color: #ffcc00;
  background-color: transparent;
  border: none;
}

body.dark-mode #theme-toggle:focus {
  box-shadow: none;
}

body.dark-mode .resume-item {
  border-bottom: 1px solid #333;
}

body.dark-mode .position-date {
  color: #aaaaaa;
}

body.dark-mode a {
  color: #46879c;
}

body.dark-mode a:hover {
  color: #5a9cb1;
}

#theme-toggle {
  color: #ffcc00;
  background-color: transparent;
  border: none;
}

#theme-toggle:focus {
  box-shadow: none;
}

body.dark-mode .lecure-title {
  color: #5a9cb1;
}

body.dark-mode .lecure-icon {
  filter: brightness(0) invert(1);  /* Isso inverte a cor para branco no modo escuro */
}

/* Estilos para o botão de toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #2d4157;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #2d4157;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.moon, .sun {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.moon {
  left: 5px;
  top: 4px;
  color: transparent;
  transition: .3s;
}

.sun {
  right: 5px;
  top: 4px;
  color: #ffc107;
  transition: .3s;
}

input:checked + .slider .sun {
  color: transparent;
}

input:checked + .slider .moon {
  color: #ffc107;
}

/* Centralizar no menu */
#sideNav .navbar-nav {
  align-items: center;
} 