header {
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

nav{
    background-color: #25303f!important;
}

#nome{
    margin-top: 30vh;
    margin-left: 3vw;
}

.fonte-branca{
    color: white;
}

.fonte-bold{
    font-weight: bold;
}

.brand-logo{
    margin-left: 20px;
}
.dark-container{
    background-color: #f4f4f4;
    padding-left: 7vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.icons-font{
    font-size: 35pt;
    color: #3f3f3f;
}

.container{
    width: initial!important;
}

html {
    scroll-behavior: smooth;
}